alembic==0.8.6
Brlapi==0.6.4
chardet==2.3.0
click==6.6
command-not-found==0.3
decorator==4.0.6
defer==1.0.6
Django==1.9.7
Flask==0.11.1
flask-marshmallow==0.6.2
Flask-Migrate==1.8.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
itsdangerous==0.24
Jinja2==2.8
jsonpointer==1.10
language-selector==0.1
lightdm-gtk-greeter-settings==1.2.1
louis==2.6.4
lxml==3.5.0
Mako==1.0.4
MarkupSafe==0.23
marshmallow==2.7.3
marshmallow-sqlalchemy==0.8.1
mate-tweak==3.5.10
numpy==1.11.0
onboard==1.2.0
pexpect==4.0.1
Pillow==3.1.2
polib==1.0.7
psutil==3.4.2
ptyprocess==0.5
pycups==1.9.73
pycurl==7.43.0
pygobject==3.20.0
PyMySQL==0.7.4
python-apt==1.1.0b1
python-debian==0.1.27
python-editor==1.0.1
python-systemd==231
pyxdg==0.25
reportlab==3.3.0
requests==2.9.1
scipy==0.17.0
screen-resolution-extra==0.0.0
sessioninstaller==0.0.0
six==1.10.0
SQLAlchemy==1.0.13
system-service==0.3
ubuntu-drivers-common==0.0.0
ufw==0.35
urllib3==1.13.1
usb-creator==0.3.0
virtualenv==15.0.2
Werkzeug==0.11.10
xkit==0.0.0
